.home-banner {
  background-image: url('https://images.unsplash.com/photo-1552299100-a3abff9291e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1061&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
}

.home-banner h1{
  color: black;
  padding-bottom: 15px;
}
